@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	background-color: #bab0ff
  color: black;
	margin: 20;
	font-family: 'Montserrat';

	}

.container {
	margin-bottom: 40px;
	margin-left: 10px;
	}

.CopyText {
	float: left;
	width: 50%;
	height: 45px;
	padding: 10px 20px;
	border: 2px solid black;
	background-color: #dbffe8;
	border-raduis: 20px;
	font-family: 'Montserrat';
	resize: none;
	}

button {
	margin-left: 5px;
	margin-top: 7px;
	float: left;
	padding: 15px 15px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: #b0d2ff;
	font-family: 'Montserrat';
	}

.topnav {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow: hidden;
  background-color: #3236a8;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #abaeff;
  color: black;
}

.topnav a.active {
  background-color: #445fc9;
  color: white;
}
